body{
   text-align: center;
   background-image:url("tomato.jpeg");
   background-size:cover;
   background-color: gray;
   background-blend-mode:lighten;
   color: #222;
   font-family: 'Italiana', serif;
   font-weight: 900;
}
a:link, a:visited{
   color:#222;
   text-decoration: none;
 }
a:hover, a:active{
    color:#555;
    text-decoration:none;
}
.container {
   margin-top: 5%;
}
